@media screen and (max-height: 937px) and (min-height: 480px) and (min-width: 1024px) {
	/*-b-header-----------------------------------------*/
	/*-e-header-----------------------------------------*/

	/*-b-index------------------------------------------*/
	/*-b-rhomb-wrap-------*/
	/*-big-*/
	.rhomb-big {
		/* top: 16.631vh; */
		top: calc(50% - 5.33vh);
	}
	/*-med-*/
	.rhomb-med {
		/* top: 17.484vh; */
		top: calc(50% - 25.1599vh);
	}
	.rhomb-bg {
		transform: translate(-50%, 14.712vh) rotate(45deg);
	}
	/*-big-*/
	.rhomb-big .rhomb-bg {
		width: 52.452vh;
		height: 52.452vh;
	}
	.rhomb-big .rhomb-bg:before {
		width: 57.7825vh;
		height: 57.7825vh;
	}
	.rhomb-big .rhomb-bg:after {
		width: 55.5437vh;
		height: 55.5437vh;
	}
	/*-med-*/
	.rhomb-med .rhomb-bg {
		width: 45.842vh;
		height: 45.842vh;
	}
	.rhomb-med .rhomb-bg:before {
		width: 53.0916vh;
		height: 53.0916vh;
	}
	.rhomb-med .rhomb-bg:after {
		width: 50.1066vh;
		height: 50.1066vh;
	}
	.rhomb-content {
		margin: 32.6226vh 0 0;
	}
	.rhomb-med .rhomb-content {
		margin: 14.9253vh 0 0;
	}
	.rhomb-big:before {
		top: 78.3582vh;
		width: 2.8784vh;
		height: 2.8784vh;
	}
	.rhomb-big h1 {
		font-size: 7.4626vh;
		margin: 0 0 7.0362vh;
	}
	.rhomb-big h1:before,
	.rhomb-big h1:after {
		top: 9.1684vh;
		width: 12.7931vh;
		height: 0.3198vh;
		border-radius: 0.3198vh;
	}
	.rhomb-big h1:after {
		top: 10.4477vh;
	}
	.rhomb-big h2 {
		font-size: 3.198vh;
		line-height: 4.2643vh;
		max-width: 35.1812vh;
	}

	.rhomb-btn {
		top: 78.3582vh;
		width: 2.8784vh;
		height: 2.8784vh;
	}

	.rhomb-bg-lwhite:before,
	.rhomb-bg-lwhite:after,
	.rhomb-bg-lblack:before,
	.rhomb-bg-lblack:after {
		width: 7px;
		height: 7px;
	}
	.rhomb-bg-lwhite:before {
		top: -3.5181vh;
		left: -3.5181vh;
	}
	.rhomb-bg-lwhite:after {
		bottom: -4.5842vh;
		left: calc(100% + 3.5181vh);
	}
	.rhomb-bg-lblack:before {
	    top: calc(100% + 3.6247vh);
		left: -3.6247vh;
	}
	.rhomb-bg-lblack:after {
	    top: -3.6247vh;
		right: -4.6908vh;
	}
	/*-e-rhomb-wrap-------*/
	/*-e-index------------------------------------------*/

	/*-b-neu--------------------------------------------*/
	/*-b-slider-----------*/
	#main-vslider {
		/* top: 21.9616vh; */
		/* top: 40.7429vh; */
		/* top: calc(56.2899vh - 10px); */
		/* top: calc(56vh - 321px); */
		top: 55.9701vh;
		/* transform: translateY(calc(-50% - 5.4vh)); */
		transform: translateY(calc(-50% - 13.8vh + 4em));
	}
	/*-btns-*/
	.neu-vslider-btn {
		height: 5.33vh;
	}
	.neu-vslider-prev {
		margin: 0 0 1.279vh;
	}
	.neu-vslider-next {
		margin: 1.279vh 0 0;
	}
	.neu-vslider-a {
		margin-bottom: 5.2238vh;
	}
	/*-e-neu--------------------------------------------*/

	/*-lines-*/
	.rhomb-bg-lines:before,
	.rhomb-bg-lines:after {
		top: 37.5266vh;
	}

	/*-b-section-2------------------*/
	/*-b-nvs1-------------*/
	.nvsfe1 {
		height: 52.2388vh;
	}
	.nvsfe1 h2 {
		margin: 0 0 2.2388vh;
	}
	.rhomb-ul li {
		margin: 0 0 0.7462vh;
	}
	/*-e-nvs1-------------*/
	#nvsf1-btn {
		top: 52.1321vh;
	}
	/*-e-section-2------------------*/

	/*-b-section-3------------------*/
	.top-img-bg {
		height: 55.8635vh;
	}
	.main-wrap-text {
		top: 66.4179vh;
	}
	/*-e-section-3------------------*/

	/*-e-section-4------------------*/
	/*-b-nvs3-------------*/
	/*-hider-*/
	.neu-vsfader.nvsf3,
	.neu-vsfader.nvsf4 {
		/* top: 24.7334vh; */
		top: calc(30vh - 49px);
	}
	/*-e-nvs3-------------*/
	/*-e-section-4------------------*/

	/*-b-section-6------------------*/
	.main-wrap-promo {
		top: 63.3262vh;
	}
	.main-wrap-promo h2 {
		margin: 0 0 3.1982vh;
	}
	.main-wrap-promo p {
		margin: 0 0 5.86353vh;
	}
	/*-e-section-6------------------*/
}










/*1366 - h * 0.71145*/
/*22 - 16*/
@media screen and (max-height: 870px) {
	html {
		font-size: 14px;
	}
	/*-b-header-----------------------------------------*/
	/*-top-logo-*/
	#top-bar .logo img {
		width: 70%;

	}

	/*-top-cart-*/
	#top-cart {
		margin: 0 0 0 169px;
		padding: 16px 0 0 53px;
	}
	.icon-cart {
		top: 1.8px;
	}
	#top-cart-amount {
		top: 2.8px;
		left: 21px;
		width: 16px;
		height: 16px;
		padding: 0 3px;
	}
	/*-e-top-bar----------*/
	/*-e-header-----------------------------------------*/
	/*-b-top-nav----------*/
	#top-nav {
		line-height: 16px;
		padding-top: 6px;
		padding-bottom: 6px;
		transform: translateY(-28px);
	}
	.first #top-nav {
		transform: translateY(0);
	}
	#top-nav nav {
		width: 100%;
	}
	#top-nav ul {
		flex-direction: row;
		justify-content: space-between;
	}
	/*-e-top-nav----------*/
	/*-b-top-bar----------*/
	#top-bar {
		height: 62px;
	}
	.first #top-bar {
		transform: translateY(29px);
	}

	/*-menu-btn-*/
	#menu-btn {
		margin: 0 8.1771vw 0 0;
		position: relative;
		padding: 20px 0 2px;
	}
	.menu-btn-line {
		position: absolute;
		background-color: var(--green);
		height: 1px;
	}
	.menu-btn-line:first-child {
		top: 0.4px;
		width: 38px;
	}
	.menu-btn-line:nth-child(2) {
		top: 4.6px;
		width: 38px;
	}
	.menu-btn-line:nth-child(3) {
		top: 9.6px;
		width: 21px;
	}

	/*-top-phone-*/
	#top-phone {
		margin: 0 112px 0 0;
	}

	/*-top-search-*/
	#top-search {
		padding-left: 42px;
	}
	#top-search .icon-search {
		position: absolute;
		top: 3.5px;
	}
	#top-search span {
		max-width: 57px;
	}


	/*-top-login-*/
	.icon-login {
		top: 3.5px;
	}
	#top-login span {
		padding-left: 42px;
		max-width: 114px;
	}

	/*-top-cart-*/
	#top-cart {
		margin: 0 0 0 169px;
		padding: 15.7px 0 0 53px;
	}
	.icon-cart {
		top: 1.8px;
	}
	#top-cart-amount {
		top: 3px;
		left: 21px;
		width: 16px;
		height: 16px;
		padding: 0 3px;
	}
	/*-e-top-bar----------*/

	/*-b-left-bar---------------------------------------*/
	#left-bar {
		top: 29px;
		padding: 55px 0 0;
	}
	.first #left-bar {
		padding: 82px 0 0;
	}
	.left-elem {
		height: 100px;
	}
	.left-elem:before {
		top: -6px;
		height: 7px;
	}
	.left-elem:last-child:after {
		top: 93px;
		height: 7px;
	}
	.left-elem:last-child:hover:after {
		top: 90px;
	}
	/*-e-left-bar---------------------------------------*/

	/*-b-right-bar--------------------------------------*/
	#right-bar {
		top: 18.2303vh;
	}
	#right-bar-rectangle {
		height: 82px;
	}
	.right-bar-elem {
		height: 82px;
	}
	/*-b-right-bar--------------------------------------*/
}










@media screen and (max-width: 1919px) {
	.btn {
		width: 11.875vw;
		height: 2.8646vw;
		padding: 0 0 0.1042vw;
	}
	/*-b-left-bar---------------------------------------*/
	#left-bar {
		width: 5.2083vw;
	}	
	#left-bar:hover {
		width: 17.2917vw;
	}
	.left-elem {
		width: 17.2917vw;
		padding: 0 0 0 5.4167vw;
	}
	.left-elem .icon {
		left: 2.5vw;
	}
	.left-elem:before {
		height: 0.5208vw;
		width: 0.5208vw;
		left: 2.0833vw;
	}
	.left-elem:last-child:after {
		left: 2.0833vw;
		width: 0.5208vw;
	}
	/*-e-left-bar---------------------------------------*/
	/*-b-right-bar--------------------------------------*/
	#right-bar {
		right: 4.4792vw;
	}
	#right-bar-line {
		right: 3.4896vw;
		width: 0.1042vw;
	}

	#right-bar-rectangle {
		right: 3.2813vw;
		width: 0.5208vw;
	}

	.right-bar-elem {
		padding: 0 4.9479vw 0 0;
	}
	.right-bar-elem:before {
		right: 3.5417vw;
		width: 0.5208vw;
		height: 0.5208vw;
	}

	.right-bar-elem-text {
		max-width: 6.25vw;
	}

	.right-bar-elem-nums {
		right: 0.5208vw;
	}
	/*-e-right-bar--------------------------------------*/

	/*-b-neu--------------------------------------------*/
	/*-b-slider-----------*/
	#main-vslider {
		left: calc(25vw - 149px);
	}
	/*-btns-*/
	.neu-vslider-btn {
		width: 5.4167vw;
	}
	.neu-vslider-hider {
		width: 10.4167vw;
	}
	/*-e-neu--------------------------------------------*/


	/*-lines-*/
	.rhomb-bg-lines:before,
	.rhomb-bg-lines:after {
		width: 3.3854vw;
		/* width: 100vw; */
		height: 0.1042vw;
	}
	.rhomb-bg-lines:before {
		left: -22.7604vw;
	}
	.rhomb-bg-lines:after {
		right: -22.7604vw;
	}

	/*-b-section-2------------------*/
	/*-b-nvs1-------------*/
	.nvsfe1 {
		width: 17.1875vw;
	}
	/*-e-nvs1-------------*/
	#nvsf1-btn {
		right: 14.5833vw;
	}
	/*-e-section-2------------------*/

	/*-b-section-3------------------*/
	.top-img-bg {
		left: 5.2083vw;
		width: 94.7917vw;
	}
	.main-wrap-text {
		left: 22.3958vw;
	}
	/*-b-nvs2-------------*/
	.nvsfe2 {
		width: 58.5938vw;
	}
	.nvsfe2 .btn {
		margin: 5.4371vh auto 0;
	}
	/*-b-nvs2-------------*/
	/*-e-section-3------------------*/

	/*-e-section-4------------------*/
	/*-b-nvs3-------------*/
	/*-hider-*/
	.neu-vsfader.nvsf3,
	.neu-vsfader.nvsf4 {
		left: 22.9167vw;
	}
	/*-e-nvs3-------------*/
	/*-e-section-4------------------*/

	/*-b-section-6------------------*/
	.main-wrap-promo {
		left: 11.8229vw;
	}
	/*-e-section-6------------------*/

	/*-b-main-items-------*/
	.item.main-item {
		margin: 0 1.8229vw 0 0;
		width: 18.75vw;
		height: 28.6458vw;
	}
	.item.main-item:hover {
		height: 30.7292vw;
	}
	.item-notification {
		top: 0.8333vw;
		left: -0.2604vw;
		width: 6.5104vw;
		height: 1.9271vw;
		padding: 0.2604vw 0.7292vw 0vw 0vw;
	}
	.item-heart {
		top: 1.0938vw;
		right: 1.25vw;
	}

	.item img {
		top: 9.7917vw;
		max-height: 10.4167vw;
		max-width: 16.4063vw;
	}

	.item-stars {
		top: 17.7083vw;
		left: 1.25vw;
	}
	.item-is {
		margin: 0 0.2604vw 0 0;
	}
	.item-reviews {
		top: 17.8125vw;
		right: 1.25vw;
	}
	.item-title {
		top: 19.8438vw;
		left: 1.25vw;
		right: 1.25vw;
	}

	.item-price {
		top: 23.4375vw;
		left: 1.25vw;
	}
	.item-old-price {
		margin: auto 0.625vw 0.0521vw 0;
	}

	.item-views {
		top: 23.9063vw;
		right: 1.25vw;
	}
	.item-buy {
		top: 26.7188vw;
	}
	/*-e-main-items-------*/

	/*-b-form-------------------------------------------*/
	.input {
		margin: 0 3.9063vw 0 0;
	}
	input {
		padding: 0.625vw 1.3021vw 0.625vw;
		width: 18.3333vw;
		height: 2.8646vw;
	}
	.input label {
		padding: 0.3646vw;
		top: 0.5208vw;
		left: 0.8333vw;
	}
	.input-error {
		top: 3.2292vw;
		left: 1.1979vw;
	}

	.clear-input {
		top: 0.7292vw;
		right: 1.1458vw;
		width: 1.3021vw;
		height: 1.3021vw;
	}
	.clear-input:before,
	.clear-input:after {
		width: 1.1979vw;
		height: 0.1042vw;
	}
	/*-e-form-------------------------------------------*/

}










@media screen and (max-width: 1640px) {
	html {
		font-size: 14px;
	}
	#menu-btn,
	#top-phone {
		margin: 0 5vw 0 0
	}
	#top-cart {
		margin: 0 0 0 7.7vw;
	}
}