/*--------------------------------------------------*/
/*----------------------------------------*/
/*------------------------------*/
/*--------------------*/
/*----------*/
:root {
	--fair-gray: #F9F9F9;
	--gray: #E8E8E8;
	--dark: #21222F;
	--orange: #FBBD45;
	--sat-orange: #F7941E;
	--green: #5FB34E;
	--dark-green: #004B03;
	--error: #AF3232;
	--nav-text: rgba(232, 232, 232, 0.7);
	/*-bg-*/
	--catalog-bg: #EAF5ED;
	--bg: #C4C4C4;
	/*-other-*/
	--breadcrumb: #A9A9A9;
	/*-gradients-*/
	--linear-grad: linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 52%, rgba(255, 255, 255, 0) 100%);
	--item-grad: linear-gradient(180deg, rgba(255, 255, 255, 0.45) 0%, #FFFFFF 16%, #FFFFFF 55%, rgba(255, 255, 255, 0) 100%);
	--news-grad: linear-gradient(0deg, rgba(33, 34, 47, 0.84) 0%, rgba(196, 196, 196, 0) 100%);
	--personal-grad: linear-gradient(180deg, #1C1D2C 0%, #1F2024 100%);
	/*-box-shadows-*/
	--round-bs: 1px 0px 7px rgba(0, 0, 0, 0.15);
	--round-bs2: 5px 0px 20px rgba(33, 34, 47, 0.15);
	--bs3: 0px 0px 4px rgba(33, 34, 47, 0.25);
	/*-text-shadows-*/
	--ts1: 1px 0px 7px rgba(207, 79, 79, 0.15), 
		2px 2px 0px #E8E8E8,
		3px 2px 7px rgba(207, 79, 79, 0.15);
}

html {
	font-size: 20px;
	font-family: "Akrobat";
	font-weight: 600;
	color: var(--dark);
}

body {
	margin: 0;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: inherit;
} 

b {
	font-weight: 900;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

li {
	flex-shrink: 0;
}

nav ul {
	
}

button {
	background-color: transparent;
	margin: 0;
	padding: 0;
	font: inherit;
	border: unset;
	color: inherit;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}
h1, .h1 {
	font-size: 2.75rem;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 900;
}

h2, .h2 {
	font-size: 2rem;
	line-height: 1;
	font-weight: normal;
	text-transform: uppercase;
}

p, .p {
	font-family: 'Roboto', sans-serif;
	font-size: 0.9rem;
	line-height: 1.44444;
}

/*-b-all--------------------------------------------*/
.bg, .bg1, .bg2, .bg3, .bg4, .bg5 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.white025:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: 0.25;
}

.btn {
	font-family: inherit;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 228px;
	height: 55px;
	padding: 0 0 2px;
	text-transform: uppercase;
}
.btn.black {
	background-color: var(--dark);
	color: #fff;
}
/*-e-all--------------------------------------------*/





/*-b-menu-------------------------------------------*/
#menu {
	position: fixed;
	top: 4.4rem;
	left: 0;
	width: 100%;
	bottom: 0;
	background-color: #21222FF2;
	transform: translateY(-100vh);
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
	z-index: 90;
	text-transform: uppercase;
}
.first #menu {
	top: 6.35rem;
}
#menu.active {
	transform: translateY(0);
}
#menu-nav {
	padding: 6.75rem;
	display: flex;
	flex-direction: column;
}
.menu-li {
	font-size: 2rem;
	line-height: 1;
	text-align: center;
	color: #fff;
	margin-bottom: 1.9rem;
}
.menu-li:last-child {
	margin: 0;
}

#menu-left,
#menu-right {
	position: absolute;
	top: 18.15rem;
	color: var(--nav-text);
	display: flex;
	flex-direction: column;
	transform: translateY();
	font-weight: 600;
	font-size: 1.1rem;
	line-height: 1;
}
#menu-left {
	left: 4.3229vw;
}
#menu-right {
	right: 4.1146vw;
}
#menu-left a,
#menu-right a {
	margin: 0 0 3rem;
	flex-shrink: 0;
}
#menu-left a:last-child,
#menu-right a:last-child {
	margin: 0;
}
/*-e-menu-------------------------------------------*/





/*-b-header-----------------------------------------*/
/*-b-top-nav----------*/
#top-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: var(--nav-text);
	line-height: 1.1rem;
	padding: 8px 23px;
	box-sizing: border-box;
	display: flex;
	text-transform: uppercase;
	background-color: var(--dark);
	z-index: 100;
	transition: transform 0.3s ease-in-out;
	transform: translateY(-39px);
	z-index: 100;
}
.first #top-nav {
	transform: translateY(0);
}
#top-nav nav {
	width: 100%;
}
#top-nav ul {
	flex-direction: row;
	justify-content: space-between;
}
/*-e-top-nav----------*/

/*-b-top-bar----------*/
#top-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	background-color: var(--dark);
	height: 88px;
	padding: 0 23px;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	font-weight: 600;
	line-height: 1.1;
	color: #fff;
	box-shadow: 0px 2px 20px rgba(33, 34, 47, 0.4);
	text-transform: uppercase;
	z-index: 100;
	transition: transform 0.3s ease-in-out;
	transform: translateY(0);
	z-index: 100;
}
.first #top-bar {
	transform: translateY(39px);
}

/*-menu-btn-*/
#menu-btn {
	margin: 0 157px 0 0;
	position: relative;
	padding: 20px 0 2px;
}
.menu-btn-line {
	position: absolute;
	background-color: var(--green);
	height: 1.5px;
}
.menu-btn-line:first-child {
	top: 0.5px;
	width: 54px;
}
.menu-btn-line:nth-child(2) {
	top: 6.5px;
	width: 54px;
}
.menu-btn-line:nth-child(3) {
	top: 13.5px;
	width: 29px;
}

/*-top-phone-*/
#top-phone {
	margin: 0 157px 0 0;
	position: relative;
	padding-left: 59px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
#top-phone .icon-phone {
	position: absolute;
	top: 4.5px;
	left: 0;
	font-size: 37.5px;
	color: var(--green);
}

/*-top-search-*/
#top-search {
	margin: 0 auto 0 0;
	position: relative;
	display: flex;
	padding-left: 59px;
	box-sizing: border-box;
}
#top-search .icon-search {
	position: absolute;
	top: 5px;
	left: 0;
	font-size: 1.815rem;
	color: var(--green);
}
#top-search span {
	max-width: 80px;
	text-align: left;
}

/*-top-logo-*/
#top-bar .logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo img {
	object-fit: contain;
	object-position: center;
	margin: 0 auto;
}
a.logo {
	transition: transform 0.3s ease-in-out;
}
a.logo:hover {
	transform: scale(1.05);
}
#top-bar a.logo:hover {
	transform: translate(-50%, -50%) scale(1.05);
}

/*-top-login-*/
#top-login {
	margin: 0 0 0 auto;
	position: relative;
	display: flex;
}
.icon-login {
	position: absolute;
	top: 5px;
	left: 0;
	width: 1.8rem;
	height: 1.8rem;
	font-size: 1.8rem;
	color: var(--green);
}
#top-login span {
	padding-left: 59px;
	max-width: 160px;
	text-align: left;
}

/*-top-cart-*/
#top-cart {
	margin: 0 0 0 237px;
	position: relative;
	padding: 22px 0 0 74px;
}
.icon-cart {
	position: absolute;
	top: 2.5px;
	left: 0;
	font-size: 1.8rem;
	color: var(--green);
}
#top-cart-amount {
	position: absolute;
	top: 4px;
	left: 30px;
	width: 22px;
	height: 22px;
	padding: 0 4px;
	box-sizing: border-box;
	border-radius: 50%;
	background-color: #fff;
	color: var(--dark);
	line-height: 1rem;
	text-align: center;
}
/*-e-top-bar----------*/
/*-e-header-----------------------------------------*/





/*-b-left-bar---------------------------------------*/
#left-bar {
	position: absolute;
	top: 40px;
	left: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	/* padding: 29px 0 0; */
	padding: 77px 0 0;
	width: 100px;
	background-color: #fff;
	box-shadow: var(--round-bs2);
	overflow: hidden;
	z-index: 80;
	/* transform: translateY(0); */
	transition: padding 0.3s ease-in-out, width 0.3s ease-in-out;
}
.first #left-bar {
	padding: 116px 0 0;
}

#left-bar:hover {
	width: 332px;
}
.left-elem {
	position: relative;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	height: 140px;
	width: 332px;
	box-sizing: border-box;
	padding: 0 0 0 104px;
}
.left-elem:before {
	content: "";
	position: absolute;
	left: 40px;
	top: -9px;
	width: 10px;
	height: 10px;
	background-color: var(--dark);
	transform: rotate(45deg);
	transition: top 0.3s ease, opacity 0.3s ease-in-out;
}
.left-elem:first-child:before {
	display: none;
}
.left-elem:hover:before {
	top: 1px;
	opacity: 0;
}
.left-elem:hover + .left-elem:before {
	top: -13px;
	opacity: 0;
}

.left-elem:last-child:after {
	content: "";
	position: absolute;
	left: 40px;
	top: 131px;
	width: 10px;
	height: 10px;
	background-color: var(--dark);
	transform: rotate(45deg);
	transition: top 0.3s ease, opacity 0.3s ease-in-out;
}
.left-elem:last-child:hover:after {
	top: 127px;
	opacity: 0;
}
.left-elem-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--dark);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
.left-elem:hover .left-elem-bg {
	opacity: 1;
}


.left-elem .icon {
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 48px;
	transform: translate(-50%, -50%);
	color: var(--dark);
	transition: color 0.3s ease-in-out;
}
.left-elem:hover .icon {
	color: var(--green);
}
.left-elem-title {
	position: relative;
	z-index: 2;
	/* max-width: 54%; */
	max-width: 60%;
	text-transform: uppercase;
	transition: color 0.3s ease-in-out;
}
.left-elem:hover .left-elem-title {
	color: #fff;
}
.left-elem-title.icon-triangle-r:before {
	position: absolute;
	color: var(--green);
	bottom: 2px;
	right: -20px;
	transform: translateX(100%);
	font-size: 0.85rem;
}

/*-le-icon-size-*/
.icon-radiator {font-size: 1.945rem;}
.icon-convector {font-size: 1.385rem;}
.icon-heatertt {font-size: 2.25rem;}
.icon-localvent {font-size: 2.28rem;}
.icon-tools {font-size: 2.15rem;}
/*-e-left-bar---------------------------------------*/




/*-b-right-bar-nvs-bar------------------------------*/
#right-bar {
	position: absolute;
	top: 171px;
	right: 86px;
	display: flex;
	flex-direction: column;
	z-index: 80;
	opacity: 0.5;
	transition: opacity 0.3s ease-in-out;
}
#right-bar:hover {
	opacity: 1;
}
#right-bar-line {
	position: absolute;
	right: 67px;
	top: 0;
	bottom: 0;
	width: 2px;
	background-color: var(--dark);
}

#right-bar-rectangle {
	position: absolute;
	top: 0;
	right: 63px;
	width: 10px;
	height: 115px;
	background-color: var(--dark);
	transition: transform 0.6s ease-in-out;
}

#right-bar-elems {
	counter-reset: rbecounter;
}
.right-bar-elem {
	position: relative;
	display: flex;
	height: 115px;
	flex-shrink: 0;
	counter-increment: rbecounter;
	padding: 0 95px 0 0;
	justify-content: flex-end;
	align-items: center;
	cursor: pointer;
}
.right-bar-elem.active {
	pointer-events: none;
	cursor: default;
}
.right-bar-elem:before {
	content: "";
	position: absolute;
	bottom: 100%;
	right: 68px;
	width: 10px;
	height: 10px;
	background-color: var(--dark);
	transform: translate(50%, 50%) rotate(45deg);
	transition: opacity 0.3s ease-in-out;
}
.right-bar-elem:first-child:before {
	display: none;
}

.right-bar-elem-text {
	opacity: 0;
	transition: opacity 0.3s ease 0s;
	user-select: none;
	max-width: 120px;
	text-align: right;
}

.right-bar-elem-nums {
	position: absolute;
	top: 50%;
	right: 10px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	line-height: 1.2;
	letter-spacing: 0.02em;
	transform: translateY(-50%);
}

.rbe-nums-current {
	font-size: 1.25rem;
}
.rbe-nums-current:before {
	content: counter(rbecounter);
}
.rbe-nums-all {
	font-size: 0.8rem;
}
.rbe-nums-all:before {
	content: "/";
}
/*-active-*/
.right-bar-elem.active .right-bar-elem-text {
	opacity: 1;
	user-select: auto;
	transition: opacity 0.3s ease 0.3s;
}
.right-bar-elem.active:before,
.right-bar-elem.active +.right-bar-elem:before {
	opacity: 0;
}


/*-nvs-bar---------------------*/
.nvs-bar {
	position: absolute;
	/* bottom: 78px; */
	bottom: 8.315vh;
	left: 50%;
	display: flex;
	z-index: 5;
	width: 75vw;
	min-width: 300px;
	transform: translateX(-50%);
}
.nvs-bar-line {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 1.45rem;
	height: 1px;
	background-color: var(--dark);
}

.nvs-bar-rectangle {
	position: absolute;
	left: 0;
	bottom: calc(1.45rem - 2.5px);
	height: 5px;
	background-color: var(--dark);
	transition: transform 0.3s ease;
}

.nvs-bar-elems {
	width: 100%;
	display: flex;
	counter-reset: nvscounter;
}
.nvs-bar-elem {
	min-height: 4rem;
	flex-grow: 1;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-shrink: 0;
	counter-increment: nvscounter;
	transition: transform 0.3s ease;
}
.nvs-bar-elem.active {
	pointer-events: none;
	cursor: default;
}

.nvs-nums-current {
	font-size: 1.25rem;
}
.nvs-nums-current:before {
	content: counter(nvscounter);
}
.nvs-nums-all {
	margin: .45rem 0 0;
	font-size: 0.8rem;
}
.nvs-nums-all:before {
	content: "/";
}
/*-active-*/
.nvs-bar-elem.active {
	transform: translateY(-2rem);
}
/*-e-right-bar-nvs-bar------------------------------*/





/*-b-index------------------------------------------*/
.scroll-hider {
	position: relative;
	overflow: hidden;
}
.scroll-parent {
	position: relative;
	display: flex;
	flex-direction: column;
	transition: transform 0.6s ease-in-out;
}
.scroll-elem {
	flex-shrink: 0;
}
/*-main---*/
.main {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.main .scroll-elem {
	position: relative;
	width: 100vw;
	height: 100vh;
}
/*--------------------*/
/*-b-rhomb-wrap-------*/
.rhomb-wrap {
	position: absolute;
}
.nvsft:before {
	content: "";
	top: 16rem;
	left: 50%;
	width: 32rem;
	height: 32rem;
	transform: translate(-50%, -50%);
	position: absolute;
	clip-path: polygon(45% 0%, 55% 0%, 100% 45%, 100% 55%, 55% 100%, 45% 100%, 0% 55%, 0% 45%, 45% 0%);
}
/*-big-*/
.rhomb-big {
	/* top: 156px; */
	top: calc(50% - 50px);
	left: 50%;
	transform: translate(-50%, -50%);
}
/*-med-*/
.rhomb-med {
	/* top: 164px; */
	top: calc(50% - 236px);
	left: 50%;
	transform: translate(-50%, -50%);
}
.rhomb-bg, 
.rhomb-bg:before, 
.rhomb-bg:after {
	position: absolute;
	left: 50%;
	box-sizing: border-box;
	box-shadow: var(--bs3);
}
.rhomb-bg {
	top: 0;
	background-color: rgba(255, 255, 255, 0.45);
	transform: translate(-50%, 138px) rotate(45deg);
}
.rhomb-bg:before, .rhomb-bg:after {
	content: "";
	top: 50%;
	transform: translate(-50%, -50%);
}
.rhomb-bg:before {
	border: 1px solid #ffffff40;
}
.rhomb-bg:after {
	border: 1px solid #fff;
}
/*-big-*/
.rhomb-big .rhomb-bg {
	width: 492px;
	height: 492px;
}
.rhomb-big .rhomb-bg:before {
	width: 542px;
	height: 542px;
}
.rhomb-big .rhomb-bg:after {
	width: 521px;
	height: 521px;
}
/*-med-*/
.rhomb-med .rhomb-bg {
	width: 430px;
	height: 430px;
}
.rhomb-med .rhomb-bg:before {
	width: 498px;
	height: 498px;
}
.rhomb-med .rhomb-bg:after {
	width: 470px;
	height: 470px;
}

/*-rhomb-text-*/
.rhomb-content {
	position: relative;
	margin: 306px 0 0;
	display: flex;
	flex-direction: column;
	z-index: 2;
}

.rhomb-med .rhomb-content {
	margin: 140px 0 0;
	justify-content: center;
}
.rhomb-big:before {
	content: "";
	position: absolute;
	top: 735px;
	left: 50%;
	width: 27px;
	height: 27px;
	background-color: var(--dark);
	clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
	transform: translateX(-50%) rotate(-45deg);
	z-index: -10;
}
.rhomb-big h1 {
	position: relative;
	font-size: 3.5rem;
	text-align: center;
	text-shadow: var(--ts1);
	margin: 0 0 66px;
}
.rhomb-big h1:before,
.rhomb-big h1:after {
	content: "";
	position: absolute;
	top: 86px;
	left: 50%;
	transform: translateX(-50%);
	width: 120px;
	height: 3px;
	border-radius: 3px;
	background-color: var(--dark);
}
.rhomb-big h1:after {
	top: 98px;
}
.rhomb-big h2 {
	font-weight: 900;
	font-size: 1.5rem;
	line-height: 1.33333;
	text-transform: uppercase;
	text-shadow: var(--ts1);
	max-width: 330px;
	text-align: center;
}

.rhomb-btn {
	position: absolute;
	cursor: pointer;
	top: 735px;
	left: 50%;
	width: 27px;
	height: 27px;
	clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
	transform: translateX(-50%) rotate(-45deg);
}

.rhomb-bg-lwhite:before,
.rhomb-bg-lwhite:after,
.rhomb-bg-lblack:before,
.rhomb-bg-lblack:after {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	transform: translate(-50%, -50%);
}
.rhomb-bg-lwhite:before,
.rhomb-bg-lwhite:after {
	background-color: var(--fair-gray);
}
.rhomb-bg-lwhite:before {
	top: -33px;
	left: -33px;
}
.rhomb-bg-lwhite:after {
	bottom: -43px;
	left: calc(100% + 33px);
}
.rhomb-bg-lblack:before,
.rhomb-bg-lblack:after {
	background-color: var(--dark);
}
.rhomb-bg-lblack:before {
	top: calc(100% + 34px);
	left: -34px;
}
.rhomb-bg-lblack:after {
	top: -34px;
	right: -44px;
}
/*-lines-*/
.rhomb-bg-lines:before,
.rhomb-bg-lines:after {
	content: "";
	position: absolute;
	top: 352px;
	width: 65px;
	height: 2px;
	background-color: var(--dark);
}
.rhomb-bg-lines:before {
	left: -437px;
}
.rhomb-bg-lines:after {
	right: -437px;
}
/*-ul-*/
.rhomb-ul {
	text-align: center;
}

/*-b-section-2------------------*/
/*-b-nvs2-------------*/
.nvsfe2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 490px;
	width: 330px;
}
.nvsfe2 h2 {
	font-weight: 900;
	font-size: 2.75rem;
	line-height: 1;
	text-shadow: var(--ts1);
	text-align: center;
	margin: 0 0 21px;
	display: flex;
	justify-content: center;
}
.rhomb-ul li {
	margin: 0 0 7px;
}
.rhomb-ul li:last-child {
	margin: 0;
}
.rhomb-ul a {
	font-weight: bold;
	font-size: 1rem;
	line-height: 2;
	text-transform: uppercase;
}
.rhomb-ul a:hover {
	font-weight: 900;
}
/*-e-nvs2-------------*/
#nvsf2-btn {
	position: absolute;
	/* top: 515px; */
	top: calc(50% + 46px);
	right: 280px;
	z-index: 2;
	transform: translateY(-50%);
}

#nvsf2-prev {
	margin: 0 0 12px;
}
#nvsf2-next {
	margin: 12px 0 0;
}
/*-e-section-2------------------*/

/*-b-section-3------------------*/
.top-img-bg {
	position: absolute;
	/* top: 88px; */
	top: 0;
	left: 100px;
	width: 1820px;
	/* height: 436px; */
	height: 524px;
	background-position: center;
	background-size: cover;
}
.main-wrap-text {
	position: absolute;
	top: 623px;
	left: 430px;
}
.main-wrap-text p {
	text-transform: uppercase;
	font-family: "Akrobat";
	font-weight: 600;
	font-size: 1rem;
	line-height: 2;
}

/*-b-nvs3-------------*/
.nvsww3 {
	position: absolute;
	top: calc(50% + 247px);
	left: 227px;
	display: flex;
	flex-direction: column;
	transform: translateY(-50%);
}
.nvsh3 {

}
.nvst3 {

}
.nvs3 {

}

.nvsa3 {

}
#nvsf3-prev {
	margin: 0 0 -12px;
}
#nvsf3-next {
	margin: -12px 0 0;
}
/*-hider-*/
.nvsf3 {

}
.nvsfe3 {
	width: 1125px;
}
.nvsfe3 .btn {
	margin: 51px auto 0;
}
/*-e-nvs3-------------*/
/*-e-section-3------------------*/

/*-e-section-4------------------*/
/**/
/*-b-nvs4-------------*/
.nvsww4 {
	position: absolute;
	top: calc(50% + 47px);
	left: 227px;
	display: flex;
	flex-direction: column;
	transform: translateY(-50%);
}
.nvsh4 {

}
.nvst4 {

}
.nvs4 {

}

.nvsa4 {

}

/*-hider-*/
.neu-vsfader.nvsf4 {
	position: absolute;
	top: 232px;
	left: 440px;
}
.nvsfe4 {
	display: flex;
	flex-direction: column;
}
/*-e-nvs4-------------*/
/*-e-section-4------------------*/

/*-e-section-5------------------*/
/*-b-nvs4-------------*/
.nvsww5 {
	position: absolute;
	top: calc(50% + 47px);
	left: 227px;
	display: flex;
	flex-direction: column;
	transform: translateY(-50%);
}
.nvsh5 {

}
.nvst5 {

}
.nvs5 {

}

.nvsa5 {

}

/*-hider-*/
.neu-vsfader.nvsf5 {
	position: absolute;
	top: 232px;
	left: 440px;
}
.nvsfe5 {
	display: flex;
	flex-direction: column;
}
/*-b-nvs5-------------*/
/*-e-section-5------------------*/

/*-b-section-6------------------*/
.main-wrap-promo {
	position: absolute;
	top: 594px;
	left: 227px;
}
.main-wrap-promo h2 {
	margin: 0 0 30px;
	font-weight: 600;
}
.main-wrap-promo p {
	margin: 0 0 55px;
	font-family: "Akrobat";
	font-weight: 600;
	font-size: 1rem;
	line-height: 2;
	text-transform: uppercase;
}
.red {
	color: var(--error);
	font-weight: 900;
}
/*-e-section-6------------------*/

/*-b-main-items-------*/
.main-wrap-items {
	display: flex;
	flex-shrink: 0;
}
.item {
	position: relative;
	background-color: #fff;
	border-radius: 1px;
}
.item.main-item {
	margin: 0 35px 0 0;
	background-color: transparent;
	background-image: var(--item-grad);
	width: 360px;
	height: 550px;
	transition: height 0.3s ease;
}

.item.main-item:hover {
	height: 590px;
}
.item-notification {
	position: absolute;
	top: 16px;
	left: -5px;
	width: 125px;
	height: 37px;
	font-size: 0.85rem;
	font-weight: 800;
	display: flex;
	color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: flex;
	justify-content: center;
	padding: 5px 14px 0px 0px;
	box-sizing: border-box;
	text-transform: uppercase;
}
.item-notification.new {
	background-image: url(../img/items/new.svg);
}
.item-notification.sale {
	background-image: url(../img/items/sale.svg);
}
.item-heart {
	position: absolute;
	top: 21px;
	right: 24px;
}

.item img {
	position: absolute;
	/* top: 87px; */
	top: 188px;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: 200px;
	max-width: 315px;
}

.item-stars {
	position: absolute;
	top: 340px;
	left: 24px;
	display: flex;
	color: var(--green);
}
.item-is {
	margin: 0 5px 0 0;
}
.item-is:last-child {
	margin: 0;
}
.item-reviews {
	position: absolute;
	top: 342px;
	right: 24px;
	font-weight: 600;
	font-size: 0.8rem;
	line-height: 1;
	color: #3C3C3C;
}
.item-title {
	position: absolute;
	top: 381px;
	left: 24px;
	right: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 0.9rem;
	line-height: 1.44444;
	height: 2.6rem;
	overflow: hidden;
}

.item-price {
	position: absolute;
	top: 450px;
	left: 24px;
	display: flex;
}
.item-old-price {
	margin: auto 12px 1px 0;
	color: #DF4844;
	font-weight: 700;
	font-size: 0.8rem;
	line-height: 1;
	text-decoration-line: line-through;
}
.item-normal-price {
	font-weight: 800;
	font-size: 1.3rem;
	line-height: 0.8846;
}
.item-normal-price span {
	font-size: 0.8rem;
	line-height: 1.0625;
}

.item-views {
	position: absolute;
	top: 459px;
	right: 24px;
	font-weight: 600;
	font-size: 0.8rem;
	line-height: 1;
	color: #3C3C3C;
}
.item-buy {
	position: absolute;
	top: 513px;
	left: 50%;
	transform: translateX(-50%);
}
.item.main-item .item-buy {
	opacity: 0;
	cursor: default;
	pointer-events: none;
	transition: opacity 0.3s ease;
}
.item.main-item:hover .item-buy {
	opacity: 1;
	cursor: pointer;
	pointer-events: auto;
}
/*-e-main-items-------*/

.main-more {
	margin: 25px auto 0;
}
/*-e-index------------------------------------------*/






/*-b-neu--------------------------------------------*/
/*-b-slider-----------*/
#main-vslider {
	position: absolute;
	top: calc(50% + 11px);
	/* top: 220px; */
	left: 331px;
	display: flex;
	flex-direction: column;
	transform: translateY(-50%);
}
/*-btns-*/
.neu-vslider-btn {
	width: 104px;
	height: 50px;
	display: flex;
	justify-content: center;
}
.neu-vslider-next {
	align-items: flex-end;
}
.neu-vslider-btn:before {
	font-size: 0.7rem;
	flex-shrink: 0;
}

.neu-vslider-hider {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 200px;
}
.nvshgrad:before,
.nvshgrad:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 1rem;
	z-index: 10;
}
.nvshgrad:before {
	top: -1px;
	background-image: linear-gradient(0deg, #ffffff00 0%, #ffffffff 100%);
}
.nvshgrad:after {
	bottom: -1px;
	background-image: linear-gradient(180deg, #ffffff00 0%, #ffffffff 100%);
}
.neu-vslider-trans {
	position: relative;
	flex-shrink: 0;
	transition: transform 0.3s ease;
}
.neu-vslider {
	position: absolute;
	display: flex;
	flex-direction: column;
}
/* .neu-vslider.clone:first-child {
	background-color: #ff000033;
}
.neu-vslider.clone:last-child {
	background-color: #0000ff33;
} */
.neu-vslider-a {
	flex-shrink: 0;
	font-size: 1rem;
	line-height: 1.4;
	margin-bottom: 49px;
	text-transform: uppercase;
	cursor: pointer;
	/* transition: font-weight 0.3s ease; */
}
.neu-vslider-a.center {
	font-weight: 900;
	pointer-events: none;
	cursor: default;
}
.neu-vslider-a:last-child {
	/* margin: 0; */
}
/*-e-slider-----------*/

/*-b-fader------------*/
.neu-vsfader {
	position: relative;
}
.neu-vsfader-elem {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease 0s;
}
.nvsf2 .neu-vsfader-elem {
	left: 50%;
	transform: translateX(-50%);
}
.neu-vsfader-elem.active {
	opacity: 1;
	pointer-events: auto;
	transition: opacity 0.3s ease 0.3s;
}
/*-e-fader------------*/
/*-e-neu--------------------------------------------*/






/*-b-form-------------------------------------------*/
form {
	display: flex;
}

.input {
	position: relative;
	margin: 0 75px 0 0;
	display: flex;
}
input {
	flex-shrink: 0;
	border: 2px solid #828282;
	font-family: inherit;
	box-sizing: border-box;
	padding: 12px 25px 12px;
	font-weight: bold;
	font-size: 1rem;
	line-height: 1.1;
	text-transform: uppercase;
	width: 352px;
	height: 55px;
	background-color: transparent;
}
.input.invalid input {
	border-color: var(--error);
}
input:focus {
	border-color: var(--dark);
	border-radius: 0;
	outline: none;
}
.input label {
	position: absolute;
	padding: 7px;
	top: 10px;
	left: 16px;
	font-weight: bold;
	font-size: 1rem;
	line-height: 1;
	color: #828282;
	background-color: #fff;
	transition: transform 0.3s ease, color 0.3s ease, font-size 0.3s ease;
	z-index: -1;
}
.input.focus label,
input:focus + label {
	transform: translate3D(0,-1.2rem,0);
	color: var(--dark);
	font-size: 0.7rem;
	z-index: 1;
}
.input-error {
	position: absolute;
	top: 62px;
	left: 23px;
	opacity: 0;
	color: var(--error);
	text-transform: uppercase;
	pointer-events: none;
	font-weight: bold;
	font-size: 0.7rem;
}
.input.invalid .input-error {
	opacity: 1;
	position: auto;
}

.clear-input {
	position: absolute;
	top: 14px;
	right: 22px;
	width: 25px;
	height: 25px;
	opacity: 0;
	cursor: default;
	pointer-events: none;
}
.clear-input:before,
.clear-input:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 23px;
	height: 2px;
	background-color: var(--error);
}
.clear-input:before {
	transform: translate(-50%, -50%) rotate(45deg);
}
.clear-input:after {
	transform: translate(-50%, -50%) rotate(-45deg);
}
.input.invalid .clear-input {
	opacity: 1;
	cursor: pointer;
	pointer-events: auto;
}
/*-e-form-------------------------------------------*/




/* body:after {
	content: "";
	position: fixed;
	top: 156px;
	left: 50%;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	transform: translate(0%, 0%);
	border: 1px solid rgba(0, 0, 255, 0.5);
} */


/* #main-vslider { */
	/* top: 21.9616vh; */
	/* top: 40.7429vh; */
	/* top: calc(56.2899vh - 10px); */
	/* top: calc(56vh - 321px); */
	/* top: 55.9701vh; */
	/* transform: translateY(calc(-50% - 5.4vh)); */
	/* transform: translateY(calc(-50% - 13.8vh + 4em)); */
	/* top: 10.3rem;
	left: 16.55rem; */
/* } */